In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('football.csv')

In [5]:
df.dtypes

Name                object
Age                  int64
Nationality         object
Overall              int64
Club                object
Value               object
Preferred Foot      object
Jersey Number      float64
Joined              object
Height              object
Weight              object
HeadingAccuracy    float64
FKAccuracy         float64
Stamina            float64
Strength           float64
Penalties          float64
Release Clause      object
dtype: object

In [4]:
df['Value'] = df['Value'].astype(str)

In [6]:
df.head()

,Name,Age,Nationality,Overall,Club,Value,Preferred Foot,Jersey Number,Joined,Height,Weight,HeadingAccuracy,FKAccuracy,Stamina,Strength,Penalties,Release Clause
0,L. Messi,31,Argentina,94,FC Barcelona,€110.5M,Left,10.0,"Jul 1, 2004",5'7,159lbs,70.0,94.0,72.0,59.0,75.0,€226.5M
1,Cristiano Ronaldo,33,Portugal,94,Juventus,€77M,Right,7.0,"Jul 10, 2018",6'2,183lbs,89.0,76.0,88.0,79.0,85.0,€127.1M
2,Neymar Jr,26,Brazil,92,Paris Saint-Germain,€118.5M,Right,10.0,"Aug 3, 2017",5'9,150lbs,62.0,87.0,81.0,49.0,81.0,€228.1M
3,De Gea,27,Spain,91,Manchester United,€72M,Right,1.0,"Jul 1, 2011",6'4,168lbs,21.0,19.0,43.0,64.0,40.0,€138.6M
4,K. De Bruyne,27,Belgium,91,Manchester City,€102M,Right,7.0,"Aug 30, 2015",5'11,154lbs,55.0,83.0,90.0,75.0,79.0,€196.4M

In [8]:
df['Value_without_euro'] = df['Value'].str.replace('€','')

In [9]:
df['Value_without_euro'] = df['Value_without_euro'].astype(str)

In [10]:
def func_Memory(line):
    if line[-1] == "M":
        return float(line.replace('M',''))*1000000
    elif line[-1] == "K":
        return float(line.replace('K',''))*1000
    else: return line
df['Value_converted'] = df['Value_without_euro'].apply(func_Memory)
#print(func_Memory(df['Value_without_euro']))
print(df['Value_converted'])

0       110500000.0
1        77000000.0
2       118500000.0
3        72000000.0
4       102000000.0
5        93000000.0
6        67000000.0
7        80000000.0
8        51000000.0
9        68000000.0
10       77000000.0
11       76500000.0
12       44000000.0
13       60000000.0
14       63000000.0
15       89000000.0
16       83500000.0
17       78000000.0
18       58000000.0
19       53500000.0
20       51500000.0
21       60000000.0
22       38000000.0
23       64500000.0
24       27000000.0
25       81000000.0
26       69500000.0
27       59500000.0
28       69500000.0
29       62000000.0
           ...
2929      1200000.0
2930      4100000.0
2931      4000000.0
2932      4200000.0
2933      5500000.0
2934      4800000.0
2935      6000000.0
2936      2000000.0
2937      4500000.0
2938      2400000.0
2939      3200000.0
2940      3900000.0
2941      3200000.0
2942      4300000.0
2943      4000000.0
2944      3600000.0
2945      4900000.0
2946      4800000.0
2947      4500000.0
2948      3600000.0
2949      4500000.0
2950      5500000.0
2951      5000000.0
2952      3000000.0
2953      5500000.0
2954      3100000.0
2955      3000000.0
2956      5500000.0
2957      4500000.0
2958      5000000.0
Name: Value_converted, Length: 2959, dtype: float64

In [11]:
df.head(10)

,Name,Age,Nationality,Overall,Club,Value,Preferred Foot,Jersey Number,Joined,Height,Weight,HeadingAccuracy,FKAccuracy,Stamina,Strength,Penalties,Release Clause,Value_without_euro,Value_converted
0,L. Messi,31,Argentina,94,FC Barcelona,€110.5M,Left,10.0,"Jul 1, 2004",5'7,159lbs,70.0,94.0,72.0,59.0,75.0,€226.5M,110.5M,110500000.0
1,Cristiano Ronaldo,33,Portugal,94,Juventus,€77M,Right,7.0,"Jul 10, 2018",6'2,183lbs,89.0,76.0,88.0,79.0,85.0,€127.1M,77M,77000000.0
2,Neymar Jr,26,Brazil,92,Paris Saint-Germain,€118.5M,Right,10.0,"Aug 3, 2017",5'9,150lbs,62.0,87.0,81.0,49.0,81.0,€228.1M,118.5M,118500000.0
3,De Gea,27,Spain,91,Manchester United,€72M,Right,1.0,"Jul 1, 2011",6'4,168lbs,21.0,19.0,43.0,64.0,40.0,€138.6M,72M,72000000.0
4,K. De Bruyne,27,Belgium,91,Manchester City,€102M,Right,7.0,"Aug 30, 2015",5'11,154lbs,55.0,83.0,90.0,75.0,79.0,€196.4M,102M,102000000.0
5,E. Hazard,27,Belgium,91,Chelsea,€93M,Right,10.0,"Jul 1, 2012",5'8,163lbs,61.0,79.0,83.0,66.0,86.0,€172.1M,93M,93000000.0
6,L. Modrić,32,Croatia,91,Real Madrid,€67M,Right,10.0,"Aug 1, 2012",5'8,146lbs,55.0,78.0,89.0,58.0,82.0,€137.4M,67M,67000000.0
7,L. Suárez,31,Uruguay,91,FC Barcelona,€80M,Right,9.0,"Jul 11, 2014",6'0,190lbs,77.0,84.0,90.0,83.0,85.0,€164M,80M,80000000.0
8,Sergio Ramos,32,Spain,91,Real Madrid,€51M,Right,15.0,"Aug 1, 2005",6'0,181lbs,91.0,72.0,84.0,83.0,75.0,€104.6M,51M,51000000.0
9,J. Oblak,25,Slovenia,90,Atlético Madrid,€68M,Right,1.0,"Jul 16, 2014",6'2,192lbs,15.0,14.0,41.0,78.0,11.0,€144.5M,68M,68000000.0

In [24]:
df['Value_converted'].sort_values()

2587       270000.0
2785       270000.0
2901       270000.0
2671       270000.0
2287       375000.0
1933       450000.0
1706       450000.0
1833       450000.0
2042       450000.0
1283       525000.0
2781       550000.0
920        600000.0
2063       650000.0
2353       650000.0
2542       750000.0
2220       750000.0
2073       750000.0
1941       775000.0
1775       900000.0
1774       900000.0
1848       900000.0
1655       900000.0
1778       900000.0
1612       900000.0
2797       950000.0
2596       950000.0
2633       950000.0
1348      1000000.0
552       1000000.0
1276      1000000.0
           ...
36       60000000.0
21       60000000.0
13       60000000.0
55       61000000.0
29       62000000.0
47       62500000.0
14       63000000.0
45       64000000.0
23       64500000.0
43       64500000.0
6        67000000.0
9        68000000.0
32       69500000.0
26       69500000.0
28       69500000.0
3        72000000.0
30       73500000.0
31       73500000.0
11       76500000.0
1        77000000.0
10       77000000.0
17       78000000.0
7        80000000.0
25       81000000.0
16       83500000.0
15       89000000.0
5        93000000.0
4       102000000.0
0       110500000.0
2       118500000.0
Name: Value_converted, Length: 2959, dtype: float64